<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Application de Mots</title>
</head>
<body>
    <h1>Bienvenue sur l'Application de Pratique des Mots</h1>
    <p>Veuillez choisir une option :</p>
    
    <ul>
        <li><a href="{{ url_for('test') }}">Tester les mots de la semaine</a></li>
        <li><a href="{{ url_for('admin') }}">Accès administrateur</a></li>
    </ul>
</body>
</html>
